.link {
    font-style: italic;
}

#jscode {
    width: 300px;
    height: 300px;
}

div {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}